html {
    margin: 0;
}

body {
    margin: 0;
    font-family: Actor, sans-serif;
    height: 100vh;
    /* overflow: hidden; */
}

body *{
    color: rgb(107 107 107) !important;
}

a {
    text-decoration: none !important;
}

header {
    height: 90px;
    width: 100%;
    overflow: hidden;
    line-height: 90px;
}

header .logo-home{
    position: relative;
    height: inherit;
} 

header .logo-home img {
    align-self: left;
    height: inherit;
    width: auto;
    float: left;
    margin-left: 20px;
}

header nav {
    position: relative;
    background: rgba(189, 232, 174, 0.51);
    width: fit-content;
    float: right;
}

header nav a{
    display: inline;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
}

header nav a:hover{
    font-weight: bold;
}

main .vh {
    min-height: 330px;
    height: calc(100vh - 90px);
}

/* HOME PAGE */

#home-pg-main #aside-left {
    /* position: absolute;
    background-color: #FFFBD5;
    width: 75%;
    height: 34%;
    left: 0px;
   z-index: 2;  */
    /* margin-top: 33%;
    margin-bottom: 33%; */
    display: flex;
    align-items: center;
    position: absolute;
    height: inherit;
    width: 75%;
    left: 0px;
    z-index: 1;
}

#home-pg-main #aside-left img{
    position: absolute;
    height: 65vh;
    width: auto;
    z-index: 4;
    right: 40px;
}


#home-pg-main #aside-left #wel-home-bkgrnd {
    background-color: #FFFBD5;
    height: 54%;
    width: 100%;
    position: relative;
}

#home-pg-main #aside-left #wel-home-bkgrnd h1 {
    font-weight: normal;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 35px;
}

#home-pg-main #aside-right{
    display: block;
    position: absolute;
    height: inherit;
    width: 45%;
    background-color: #FDEDFC;
    right: 0px;
    z-index: 0;
}

/* BIO PAGE  */
.long-page{
    display: block;
    position: relative;
    overflow: hidden;
}

#bio-page {
    height: 220vh;
}


#bio-page .bio-blocks{
    position: relative;
    height: 75vh;
    width: 85%;
    line-height: 55vh;
    margin: 0;
    text-align: center;
}

#bio-page .bio-blocks h2{
    font-weight: normal;
}

#bio-page .bio-blocks p{
    display: none;
}

/* #bio-page .bio-blocks:hover {
    filter: brightness(90%);
   
} */

 /* filter: drop-shadow(2px 4px 6px rgb(153, 153, 153)) brightness(1.03); */

/* #bio-page .bio-blocks:hover h2{
    display: none;
}

#bio-page .bio-blocks:hover p{
    display: block;
} */

#bio-page #about-me{
    background-color: #FFFBD5;
    top: 0;
    float: left;
}

#bio-page #bio-background{
    background-color: #FDEDFC;
    float: right;
    transform: translateY(-20vh);
}

#bio-page #bio-present{
    background-color: #D4E4FD;
    float: left;
    transform: translateY(-40vh);
}

#bio-page #bio-interests{
    background-color: #FDF1D4;
    float: right;
    transform: translateY(-60vh);
    height: 55vh;
}

/* Portfolio */

#portf-pg-main section{
    padding-bottom: 40px;
}

#portf-pg-main .portf-section {
    position: relative;
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;
}

#port-pg-main .portf-h2-cont{
    padding-top: 20px;
}

#portf-pg-main .portf-h2-cont h2 {
    margin-top: 0;
    font-weight: 400;
}

#portf-pg-main .portf-section .portf-proj-img {
    /* position: relative; */
    position: relative;
    background: lightgrey;
    width: 340px;
    margin-top: 20px;
    height: 350px;
}

#portf-pg-main .portf-section .portf-proj-img img {
    max-width: 100%;
    max-height: 100%;
}

#portf-pg-main #portf-code-bkg {
    background-color: #FFFBD5;
}

#portf-pg-main #portf-design-bkg {
    background-color: #FDEDFC;
}

#portf-pg-main #portf-drawing-bkg {
    background-color: rgba(189, 232, 174, 0.51);
}

/* Contact */

#contact-pg  #contact-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFFBD5;
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact-pg #contact-form *{
    font-family: inherit;
    border: none;
    width: 100%;
    resize: none;
}

#contact-pg #contact-form .form-flex-child{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#contact-pg #contact-form .form-item{
    display: inline;
    width: 200px;
    margin: 7px;
}

#contact-pg #contact-form #submit-contact-form{
    text-rendering: auto;
    color: buttontext;
    background-color: #FDEDFC;
   
  
}




/* Footer  */

footer {
      position: relative;
      background-color: #D4E4FD;
      height: 90px;
      bottom: 0;
      padding: 20px;
}

footer .footer-left{
    position: relative;
    float: left;
}

footer .footer-left ul{
    margin: 0;
}

footer .footer-left ul li{
    list-style-type: none;

}

footer .social-footer{
    position: relative;
    float: right;
}

footer .social-footer .fa-brands{
    font-size: 250%;
    padding-left: 10px;
}